
body{
    text-align: center;
    color: rgb(0, 182, 24);

}

a{
    text-decoration: none;
    color: white;
}

.t{
    border: solid;
}

.link1{
    background-color: rgb(0, 163, 238);
    color: black;
    float: left;
}

.link2{
    background-color: rgb(0, 0, 0);
    float: left;
}

.angled-gradient {
    background: linear-gradient(70deg, rgb(0, 0, 82), rgb(70, 0, 12));
  }

.animation1 {
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

@keyframes animation {
    0% {
            color: rgb(0, 0, 0);
    } 
    50% {
        color: rgb(255, 255, 255);
} 
    75% {
        color: rgb(0, 255, 34);
} 
75% {
        color: rgb(0, 182, 24);
} 
}